 :root {
     --aliceblue: aliceblue;
 }
#div2 {
    position: relative;        
    display: table; 
    margin: auto;                 
    width : 200px;
    height: 205px;         
    border: 1px solid #d6d6a3;
    border-radius: 10px;
    background-color: var(--aliceblue);
}

#div2 p {
    text-align: center;
}

li {
    margin-bottom: 6px;
}

input {
    display: inline-block;
    width: 55px;
    border:none;
    background-color: var(--aliceblue);
    margin-left: 4px;
    padding: 3px;
}
    
#mesBtns{
    position: relative;
    text-align: center;
}

#mesBtns span{
    padding: 3px;
    border: solid 1px #a3a3c2; 
    background-color: khaki;
    border-radius: 4px; 
    font-size: 12px;
    color: black;
    cursor: pointer;
}

#b1, #b2, #b3{
    margin-left: 15px;
}

#divMsg{
    display: table;
    margin: auto;  
    border-radius: 10px; 
    padding: 10px 18px;
    margin-top: 15px; 
    background-color: #d6d6a3;
    font-size: 14px;
}